.Is {
  background-color: none;
}

.Is :hover {
  background-color: #f6f8fa;
}

.openColor {
  color: #88cd99;
}

.closedColor {
  color: red
}

.label {
  font-size: 12px;
  color: white;
  font-weight: bold;
  border-style: none;
}

.label:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

